.fib-example {
    padding: 50px
}

.fib-example--wrapper {
    display: flex;
    justify-content: center;
}

.fib-example--input {
    padding: 0 20px;
}

.fib-example--input label {
    margin-right: 5px;
}

.fib-example--input>.result {
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.fib-example--input.insanity>.result {
    animation: .8s shake infinite alternate;
}

.fib-example--input.insanity>.result::before {
    content: "🔥";
    padding-right: 2px;
}

@keyframes shake {
    0% {
        transform: skewX(-15deg) rotate(-5deg) translateY(10px);
        ;
    }

    5% {
        transform: skewX(15deg);
    }

    10% {
        transform: skewX(-15deg);
    }

    15% {
        transform: skewX(15deg) rotate(2deg) translateY(1px);
        ;
    }

    20% {
        transform: skewX(0deg);
    }

    100% {
        transform: skewX(0deg);
    }
}